:root{
    --form:#0E484A;
    --inactive:hsl(180, 11%, 51%);
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(216,208,222);
background: linear-gradient(90deg, rgba(216,208,222,1) 0%, rgba(216,213,245,1) 99%);
}


.container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.steps-container{
    font-family: "Josefin Sans", sans-serif;
    background-color: var(--form);
    max-width: 30vw;
    color: white;
    min-height: 80vh;
    min-width: 20vw;
    margin-top: 6rem;
    margin-left:3rem ;
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
    box-shadow: -10px 9px 8px 0px rgba(0,0,0,0.6);
}

.step-h, .step-p{
    text-align: center;

}

.step-h{
    letter-spacing: 1px;
    margin-top: 60px;

}

.step-p{
    font-size: 20px;

}

.steps{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    
}

.info{
    display: flex;
    align-items: center;
    margin-top: 80px;
}


.steps * button{
    margin-right: 20px;
}


.steps * p{
    font-size: 1.2rem;
    
}

.one{
    width: 50px;
    height: 50px;
    background-color: white;
    color: var(--form);
    font-weight: bolder;
   border-radius: 50%;
   border: none;
   font-size: 1.5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   
}

.two, .three, .four{
    width: 50px;
    height: 50px;
    font-weight: bolder;
   border-radius: 50%;
   border: none;
   font-size: 1.5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: transparent;
   color: var(--inactive);
   border: 1px solid var(--inactive)
   
}

.education, .experience, .skills{
    color:var(--inactive);
}


.one-container{
    margin-top: -30px;
}

.line{
    width: 2px;
    height: 88px;
    
    
    position: absolute;
   top: 0;
   left:40px;
   background-color: var(--inactive);
}

.first-line{
    top: 34%;
    left: 43px;
}

.second-line{
    top: 51%;
    left: 43px;
    height: 87px;
}

.third-line{
    top: 67.8%;
    left: 43px;
}


/* second page styling */

.second-page{
position: absolute;
visibility: hidden;

}


.second-page .one{
    background-color: hsl(0, 5%, 77%);
}

.second-page .personal{
    color:hsl(0, 5%, 77%) ;
}

.second-page .first-line{
    background-color: white;
}

.second-page .two{
    background-color: white;
    color: var(--form);
}

.second-page .education{
    color: white;
}


/*styling the third page*/

.third-page{
    position: absolute;
    visibility: hidden;
}


.third-page .one{
    background-color: hsl(0, 5%, 77%);
}

.third-page .personal{
    color:hsl(0, 5%, 77%) ;
}

.third-page .first-line {
    background-color: white;
}

.third-page .second-line{
    background-color: white;
}

.third-page .two{
    background-color: hsl(0, 5%, 77%);
    color: var(--form);
}

.third-page .education{
    color:hsl(0, 5%, 77%) ;
}

.third-page .three{
    background-color: white;
    color: var(--form);
}

.third-page .experience{
    color: white;
}


/*styling the fourth page*/

.fourth-page{
    position: absolute;
    visibility: hidden;
}
.fourth-page .one{
    background-color: hsl(0, 5%, 77%);
}

.fourth-page .personal{
    color:hsl(0, 5%, 77%) ;
}

.fourth-page .first-line {
    background-color: white;
}

.fourth-page .second-line{
    background-color: white;
}

.fourth-page .third-line{
    background-color: white;
}

.fourth-page .two{
    background-color: hsl(0, 5%, 77%);
    color: var(--form);
}

.fourth-page .education{
    color:hsl(0, 5%, 77%) ;
}

.fourth-page .three{
    background-color: hsl(0, 5%, 77%);
    color: var(--form);
}

.fourth-page .experience{
    color:hsl(0, 5%, 77%) ;
}

.fourth-page .skills{
    color: white;
}

.fourth-page .four{
    background-color: white;
    color: var(--form);
}


.form{
    min-width: 30vw;
    max-width: 30vw;
    min-height: 84vh;
    max-height: 84vh;
    margin-top: 95px;
    background-color: white;
    font-family: "Josefin Sans", sans-serif;
    box-shadow: 7px 8px 11px 1px rgba(0,0,0,0.6);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}

.form-title, .form-subtitle{
    text-align: center;
    text-transform: capitalize;
}

.file-upload {
    display: flex;
    align-items: center;
}

.file-input {
    display: none; /* Ascunde input-ul real */
}

.file-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--form);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#file-name {
    margin-left: 10px;
    font-size: 14px;
    color: #555;
}

.fullname, .mail, .phone, .adress{
    margin-top: 20px;
    border: 2px solid black;
    width: 60%;
    transition: border .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: background-color .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    border-radius: 10px;
}



#name, #mail, #phone, #adress{
    border: none;
    border-left: 1px solid black;
    padding: 10px;
    width: 80%;
    outline: none;
}

label{
    padding: 10px;
    color: hsl(0, 2%, 54%);
    transition: color .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    
}

#name:focus-within,#mail:focus-within,#phone:focus-within,#adress:focus-within{
    border-left:1px solid var(--form);
}


.fullname:focus-within, .mail:focus-within, .phone:focus-within, .adress:focus-within {
    border: 2px solid var(--form);
    
}

.fullname:focus-within label, .mail:focus-within label, .phone:focus-within label, .adress:focus-within label {
    color: var(--form);
}

.form-personal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.birthDate{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.birth{
max-width: 10%;
padding: 10px 0;
text-align: center;
outline: none;
border-radius: 10px;
}

.birth:focus{
    border: 2px solid var(--form);
}


.gen-inp {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: none; 
}


.gen {
    position: relative;
    display: inline-block;
    margin: 10px;
    padding: 5px 10px;
    border: 2px solid #000;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}


.gen::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
    transition: background-color 0.3s, border-color 0.3s;
}


.gen-inp:checked + .gen {
    background-color: var(--form);
    border-color: var(--form);
    color: white; 
}

.gen-inp:checked + .gen::before {
    background-color: var(--form);
    border-color: var(--form);
}


.gen:hover {
    background-color: #f0f0f0; 
}

#about-me{
    border: none;
    outline: none;
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
}

#about-me::placeholder{
    text-decoration:underline;
}

.dob{
    color: var(--form);
    font-weight: bold;
}

.second-form, .third-form, .fourth-form{
    position: absolute;
    top: 0.2%;
    right: 45.4%;
    overflow-y: auto;
    
}


.first-form, .second-form, .third-form{
    visibility: hidden;
}


.second-form::-webkit-scrollbar {
    display: none;
  }

.personal-exp{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.uni-container, .deg-container, .city-container{
    border: 2px solid black;
    width: 50%;
    border-radius: 10px;
    
}


.uni-container label, .deg-container label, .city-container label{
    border-right: 1px solid black;
    font-size: 20px;
}

#uni, #degree, #city{
    border: none;
    outline: none;
    padding: 12px;
    font-size: 16px;
}




.uni-container:focus-within, .deg-container:focus-within, .city-container:focus-within {
    border: 2px solid var(--form);
    
}

.uni-container:focus-within label, .deg-container:focus-within label, .city-container:focus-within label{
    color: var(--form);
}

.years{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;

}

.years select{
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    background-color: var(--form);
    color: white;
}

.company-container:focus-within, .job-container:focus-within, .city-container:focus-within {
    border: 2px solid var(--form);
    
}

.company-container:focus-within label, .job-container:focus-within label, .city-container:focus-within label{
    color: var(--form);
}

.company-container, .job-container, .city-container{
    border: 2px solid black;
    width: 50%;
    border-radius: 10px;
    
}


.company-container label, .job-container label, .city-container label{
    border-right: 1px solid black;
    font-size: 20px;
}

#company, #job, #city{
    border: none;
    outline: none;
    padding: 12px;
    font-size: 16px;
}