body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url("https://images.unsplash.com/photo-1484589065579-248aad0d8b13?q=80&w=1959&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    font-family: "Sofia Sans Condensed", sans-serif;
    background-repeat: no-repeat;
    color: white;
    
}



.form-container{
   max-width: 30vw;
   height: 100vh;
    border: 2px solid rgb(255, 255, 255, .2);
    background-color: transparent;
    backdrop-filter: blur(5px);
    fill: aliceblue;
    
}

.main{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100vh;
    
}


.content{
    width: 30vw;
    height: 120vh;
    background-color: #E6D1E2;
    color: black;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
    

}


.left{
    background-color:#3361AE ;
    position: relative;
    overflow: hidden;
    grid-column: 1;
    grid-row: 1/3;
    border: 1px solid #3361AE;
    
}

#avatar{
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    right: 8%;
    top: 8%;
}

.name{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: white;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 2px;
}

.avatar{
    width: 130px;
    height: 130px;
    background-color: hsla(0, 0%, 100%, 0.815);
    border-radius: 50%;
    position: absolute;
    bottom: 75%;
    z-index: 22;
    right: 20%;
}

.contact{
    display: flex;
    margin-top: 200px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h4{
    z-index: 99;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #3361AE;
}

.phone, .mail, .adress{
    font-size: 12px;
    color: black;
    z-index: 20;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #3361AE;
    color: #3361AE;
    line-height: 0.3;
}

.cap{
    font-weight: bold;
    font-size: 16px;
}

p{
    text-transform: uppercase;
    
}


.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}

.h1{
    z-index: 91;
    
    color: #3361AE;
    font-weight: 900;
    letter-spacing: 0;
    font-size: 50px;
}

.desc-text{
    z-index: 91;
    text-align: center;
    max-width: 80%;
    color: #3361AE;
}

.hard-skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

h2{
    z-index: 99;
    color: #3361AE;
    font-size: 20px;
    letter-spacing: 0;
    font-weight: 900;
}

.hard{
    z-index: 99;
    color:#3361AE ;
    line-height: 0;
}




.right{
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

.right-head, .right-main, .right-footer{
    border-bottom: 2px solid #3361AE;
}


.right-head{
   z-index: 99;
   width: 100%;
   margin-top: 20px;
}



.right-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 85%;
    background-color: #E6D1E2; /* Same background color as the parent div */
    transform: skewY(-25deg);
    transform-origin: bottom right;
    z-index: 11;
}


@media print{
    .form-container{
        display: none;
    }

    body{
        visibility: hidden;
    }

    .content{
                visibility: visible;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                border: none;
                background-size: cover;
    }


    title{
        visibility: hidden;
    }
}
@media print {
    @page {
      margin: 0;
    }
  
    body {
      margin: 1cm;
    }
  
    
    @page {
      size: auto;
      margin: 0;
    }
    
    header, footer {
      display: none;
    }

    

}