:root{
    --form:#0E484A;
    --inactive:hsl(180, 11%, 51%);
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(216,208,222);
background: linear-gradient(90deg, rgba(216,208,222,1) 0%, rgba(216,213,245,1) 99%);
}


.container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.steps-container{
    font-family: "Josefin Sans", sans-serif;
    background-color: var(--form);
    max-width: 30vw;
    color: white;
    min-height: 80vh;
    min-width: 20vw;
    margin-top: 6rem;
    margin-left:3rem ;
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
    box-shadow: -10px 9px 8px 0px rgba(0,0,0,0.6);
}

.step-h, .step-p{
    text-align: center;

}

.step-h{
    letter-spacing: 1px;
    margin-top: 60px;

}

.step-p{
    font-size: 20px;

}

.steps{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    
}

.info{
    display: flex;
    align-items: center;
    margin-top: 80px;
}


.steps * button{
    margin-right: 20px;
}


.steps * p{
    font-size: 1.2rem;
    
}

.one{
    width: 50px;
    height: 50px;
    background-color: white;
    color: var(--form);
    font-weight: bolder;
   border-radius: 50%;
   border: none;
   font-size: 1.5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   
}

.two, .three, .four{
    width: 50px;
    height: 50px;
    font-weight: bolder;
   border-radius: 50%;
   border: none;
   font-size: 1.5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: transparent;
   color: var(--inactive);
   border: 1px solid var(--inactive)
   
}

.education, .experience, .skills{
    color:var(--inactive);
}


.one-container{
    margin-top: -30px;
}

.line{
    width: 2px;
    height: 88px;
    
    
    position: absolute;
   top: 0;
   left:40px;
   background-color: var(--inactive);
}

.first-line{
    top: 34%;
    left: 43px;
}

.second-line{
    top: 51%;
    left: 43px;
    height: 87px;
}

.third-line{
    top: 67.8%;
    left: 43px;
}


/* second page styling */

.second-page{
position: absolute;
visibility: hidden;

}


.second-page .one{
    background-color: hsl(0, 5%, 77%);
}

.second-page .personal{
    color:hsl(0, 5%, 77%) ;
}

.second-page .first-line{
    background-color: white;
}

.second-page .two{
    background-color: white;
    color: var(--form);
}

.second-page .education{
    color: white;
}


/*styling the third page*/

.third-page{
    position: absolute;
    visibility: hidden;
}


.third-page .one{
    background-color: hsl(0, 5%, 77%);
}

.third-page .personal{
    color:hsl(0, 5%, 77%) ;
}

.third-page .first-line {
    background-color: white;
}

.third-page .second-line{
    background-color: white;
}

.third-page .two{
    background-color: hsl(0, 5%, 77%);
    color: var(--form);
}

.third-page .education{
    color:hsl(0, 5%, 77%) ;
}

.third-page .three{
    background-color: white;
    color: var(--form);
}

.third-page .experience{
    color: white;
}


/*styling the fourth page*/

.fourth-page{
    position: absolute;
    visibility: hidden;
    
}
.fourth-page .one{
    background-color: hsl(0, 5%, 77%);
}

.fourth-page .personal{
    color:hsl(0, 5%, 77%) ;
}

.fourth-page .first-line {
    background-color: white;
}

.fourth-page .second-line{
    background-color: white;
}

.fourth-page .third-line{
    background-color: white;
}

.fourth-page .two{
    background-color: hsl(0, 5%, 77%);
    color: var(--form);
}

.fourth-page .education{
    color:hsl(0, 5%, 77%) ;
}

.fourth-page .three{
    background-color: hsl(0, 5%, 77%);
    color: var(--form);
}

.fourth-page .experience{
    color:hsl(0, 5%, 77%) ;
}

.fourth-page .skills{
    color: white;
}

.fourth-page .four{
    background-color: white;
    color: var(--form);
}


.form{
    min-width: 30vw;
    max-width: 30vw;
    min-height: 84vh;
    max-height: 84vh;
    margin-top: 95px;
    background-color: white;
    font-family: "Josefin Sans", sans-serif;
    box-shadow: 7px 8px 11px 1px rgba(0,0,0,0.6);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}

.form-title, .form-subtitle{
    text-align: center;
    text-transform: capitalize;
}

.file-upload {
    display: flex;
    align-items: center;
}

.file-input {
    display: none; 
}

.file-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--form);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#file-name {
    margin-left: 10px;
    font-size: 14px;
    color: #555;
}

.fullname, .mail, .phone, .adress{
    margin-top: 20px;
    border: 2px solid black;
    width: 60%;
    transition: border .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: background-color .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    border-radius: 10px;
}



#name, #mail, #phone, #adress{
    border: none;
    border-left: 1px solid black;
    padding: 10px;
    width: 80%;
    outline: none;
}

label{
    padding: 10px;
    color: hsl(0, 2%, 54%);
    transition: color .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    
}

#name:focus-within,#mail:focus-within,#phone:focus-within,#adress:focus-within{
    border-left:1px solid var(--form);
}


.fullname:focus-within, .mail:focus-within, .phone:focus-within, .adress:focus-within {
    border: 2px solid var(--form);
    
}

.fullname:focus-within label, .mail:focus-within label, .phone:focus-within label, .adress:focus-within label {
    color: var(--form);
}

.form-personal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.birthDate{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.birth{
max-width: 10%;
padding: 10px 0;
text-align: center;
outline: none;
border-radius: 10px;
}

.birth:focus{
    border: 2px solid var(--form);
}


.gen-inp {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: none; 
}


.gen {
    position: relative;
    display: inline-block;
    margin: 10px;
    padding: 5px 10px;
    border: 2px solid #000;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}


.gen::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
    transition: background-color 0.3s, border-color 0.3s;
}


.gen-inp:checked + .gen {
    background-color: var(--form);
    border-color: var(--form);
    color: white; 
}

.gen-inp:checked + .gen::before {
    background-color: var(--form);
    border-color: var(--form);
}


.gen:hover {
    background-color: #f0f0f0; 
}

#about-me{
    border: none;
    outline: none;
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
}

#about-me::placeholder{
    text-decoration:underline;
}

.dob{
    color: var(--form);
    font-weight: bold;
}

.second-form, .third-form, .fourth-form{
    position: absolute;
    top: 0.2%;
    right: 45.4%;
    overflow-y: auto;
    visibility: hidden;
}





.second-form::-webkit-scrollbar {
    display: none;
  }

.personal-exp{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.uni-container, .deg-container, .city-container{
    border: 2px solid black;
    width: 50%;
    border-radius: 10px;
    
}


.uni-container label, .deg-container label, .city-container label{
    border-right: 1px solid black;
    font-size: 20px;
}

#uni, #degree, #city, #city-exp{
    border: none;
    outline: none;
    padding: 12px;
    font-size: 16px;
}

.exp-city{
    background-color: #000;
}



.uni-container:focus-within, .deg-container:focus-within, .city-container:focus-within {
    border: 2px solid var(--form);
    
}

.uni-container:focus-within label, .deg-container:focus-within label, .city-container:focus-within label{
    color: var(--form);
}

.years{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;

}

.years select{
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    background-color: var(--form);
    color: white;
}

.company-container:focus-within, .job-container:focus-within, .city-container:focus-within {
    border: 2px solid var(--form);
    
}

.company-container:focus-within label, .job-container:focus-within label, .city-container:focus-within label{
    color: var(--form);
}

.company-container, .job-container, .city-container, .skill-container{
    border: 2px solid black;
    width: 50%;
    border-radius: 10px;
    
}


.company-container label, .job-container label, .city-container label, .skill-container label{
    border-right: 1px solid black;
    font-size: 20px;
}

#company, #job, #city,#skill{
    border: none;
    outline: none;
    padding: 12px;
    font-size: 16px;
}

.next{
    position: absolute;
    top: 85%;
    left: 50%;
    padding:10px 15px ;
    font-size: 20px;
    color: var(--form);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.prev{
    position: absolute;
    top: 85%;
    left:25%;
    padding:10px 15px ;
    font-size: 20px;
    color: var(--form);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.next:hover, .prev:hover{
    color: hwb(182 5% 55%);
}

.resume{
    min-width: 30%;
    max-width: 30%;
    min-height: 90vh;
    max-height: 100vh;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    margin-right: 3rem;
    box-shadow: 2px 11px 19px 11px rgba(0,0,0,0.75);
    overflow: hidden;
}


.left{
    width: 36%;
    height: auto;
    background-color: #0E484A;
     
}

.img-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.img-container{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.contact-me div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.contact-me i{
    color: white;
    font-size: 16px;
    padding-left: 12px ;
}

.contact-me p {
    color: white;
    font-size: 12px;
    padding-right: 12px;
    text-align: right;
}

.title-container h3{
    text-align: center;
    color: white;
    letter-spacing: 1px;
    font-weight: bold;
}

.resume-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90%;
}
.about-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-title i{
    color: white;
    font-size: 12px;
}

.resume-about h2{
    color: white;
    font-size: 13px;
    
    
    margin-left: 15px;
    text-align: center;
}

.resume-about p{
    color: white;
    font-size: 10px;
    text-align: left;
    padding: 10px;
    padding-left: 15px;
    margin-top: -10px;
}


.skill-container:focus-within {
    border: 2px solid var(--form);
    
}

.skill-container:focus-within label {
    color: var(--form);
}




.resume-skills h2{
color: white;
font-size: 13px;
margin-left: 10px;
text-align: center;
margin-right: 20px;
}

.skills-title i{
    color: white;
    font-size: 12px;
}

.skills-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.resume-skills p{
    color: white;
    font-size: 10px;
    padding-left: 20px;
}



.skill{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
    flex-direction: column;
}

.lvl{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
}









.right-education{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    max-height: 50%;
    overflow: hidden;
}

.right-education h2{
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--form);
    padding-top: 40px;
    justify-self: center;
    align-self: center;
    margin-left: 50%;
    margin-bottom: 50px;
}

.right-education p{
    font-size: 10px;
    color: #555;
    line-height:0;
}
.right-education h5{
    font-size: 12px;
    line-height: 0;
}
.bac{
    font-size: 13px;
    padding: 10px 0;
    color: var(--form);
    font-weight: bold;
}

.edu{
    margin-bottom: 20px;
  
}


.right-experience{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.right-experience h2{
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--form);
    padding-top: 40px;
    justify-self: center;
    align-self: center;
    margin-left: 90%;
    margin-bottom: 50px;
    min-width: 200px;
}


.right-experience p{
    font-size: 10px;
    color: #555;
    line-height:0;
}
.right-experience h5{
    font-size: 12px;
    line-height: 0;
}
.job-title{
    font-size: 13px;
    padding: 10px 0;
    color: var(--form);
    font-weight: bold;
}

.exp{
    margin-bottom: 20px;
}

li{
    margin-bottom: -20px;
}

ul{
    list-style: none;
    color: white;
}

ul li::before{
    content: "\2022";
    color: #FFA500;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    left:10%;
    width: 80px;
    margin-left: -10px;
    
}

#print{
    position: absolute;
    bottom: 7%;
    right: 4%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 40px;
    color: var(--form);
    cursor: pointer;    
    z-index: 99;
}
@media print {
    body {
        margin: 0;
        padding: 0;
    }
    body * {
        visibility: hidden;
    }
    .resume, .resume * {
        visibility: visible;
    }
    .resume {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        min-width: 100vw;
        max-width: 100vw;
        min-height: 100vh;
        max-height: 100vh;
        margin: 0;
        padding: 0;
        box-shadow: none;
        background-color: white;
        overflow: hidden;
        

    }
        .resume p {
            font-size: 20px;
        }    


    @page {
        size: A4;
        margin: 0; 
    }
}


